<template name="dashboard">
  {{#if Template.subscriptionsReady}}
  <div class="ui two column stackable very padded grid">
    <div class="column">
      <h3 class="ui horizontal divider header"><i class="user icon"></i>Hi {{firstName}}!</h3>
      <div class="ui center aligned grid">
        <div class="fourteen wide left aligned column">
          <p>Your marking schemes are shown below. Only you can edit or delete them, but they can be shared to anyone using their unique URL. As marks come in, they will be added to the scheme's data collection.</p>
          <button class="fluid ui primary button new-scheme">Design a new scheme</button>
        </div>
      </div>
    </div>
    <div class="column">
      {{#if connected}}
        <h3 class="ui horizontal divider header"><i class="newspaper icon"></i>Recent Activity</h3>
        <div class="ui center aligned grid">
          <div class="row">
            {{> activityView}}
          </div>
        </div>
      {{else}}
        <h3 class="ui horizontal divider header"><i class="unlink icon"></i>Offline Mode</h3>
        <div class="ui center aligned grid">
          <div class="row">
            <p>WebMark can't connect to the server!</p>
            <p>All your actions will be stored locally and synchronized when we can reconnect.</p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  {{> viewSchemes}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>
