<template name="home">
<div class="ui vertical center aligned padded segment" id="masthead">
  <div class="ui text container white-headers">
    <h1 class="ui header really-big">WebMark</h1>
    <h2>Mark assignments with efficiency and flexibility</h2>
    {{#if currentUser}}
      <div class="ui one column centered relaxed grid">
        <div class="row">
          <div class="ui middle aligned column">
            <div class="ui huge button view-schemes">View your dashboard <i class="right arrow icon"></i></div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="ui huge button google-log-in">Log-in with Google to get started <i class="right arrow icon"></i></div>
    {{/if}}
  </div>
</div>
  <div class="ui vertical stripe padded segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Author Schemes</h3>
          <p>Create flexible marking schemes using: criteria-based rubrics, re-usable comments, mark adjustments, and free-flowing text. Avoid repetitive data entry with duplication support, and solve errors with easy drag-and-drop reordering and undo functionality.</p>
          <h3 class="ui header">Mark Collaboratively</h3>
          <p>Marking schemes are optimized for speed, and adjust automatically to your design. When finished, your marking forms will have a sharable link that allows anyone to start marking straight away, and you’ll see reports as they’re completed.</p>
        </div>
        <div class="six wide right floated column">
          <img src="img/scheme-designer-min.png" alt="Marking scheme designer interface" class="ui large bordered image right-perspective">

          <img src="img/dashboard-min.png" alt="Dashboard view of activity and schemes" class="ui small bordered image right-perspective-overlay hide-on-mobile">
        </div>
      </div>
      <div class="row">
        <div class="six wide left floated column">
          <img src="img/view-marks-min.png" alt="View an interactive table of all marks" class="ui large bordered image left-perspective">
          <img src="img/marking-report-min.png" alt="Share a detailed marking report" class="ui small bordered image left-perspective-overlay hide-on-mobile">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">View in Real-Time</h3>
          <p>All data is kept synchronized with all users. Marks will be pushed to your scheme collection live, and any updates to your marking schemes will update your markers forms without interruption.</p>
          <h3 class="ui header">Share Feedback</h3>
          <p>Export marks in spreadsheet or web-friendly formats, or export a links for each student to privately view their own feedback through WebMark.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe padded segment">
    <div class="ui three column stackable relaxed grid container">
      <div class="row">
        <div class="column">
          <h3 class="ui header"><i class="globe icon"></i>Mark Anywhere</h3>
          <p>Use your desktop, tablet, or mobile to mark assignments, with a responsive design to match your device. Touch supports and keyboard navigation has been developed with speed in mind.</p>
        </div>
        <div class="column">
          <h3 class="ui header"><i class="wifi icon"></i>Offline Support</h3>
          <p>Design new schemes and mark reports without any connection to the server. As soon as you reconnect, the data will be updated automatically.</p>
        </div>
        <div class="column">
          <h3 class="ui header"><i class="github icon"></i>Open Source</h3>
          <p>See something you could improve? Great! All contributions and suggestions are welcome <a href="https://github.com/MGovier/WebMark">on GitHub</a>.</p>
        </div>
      </div>
    </div>
  </div>
</template>
