<template name="insertScheme">
  <div class="ui large header">New Marking Scheme</div>
    {{#autoForm schema="Schemas.Scheme" id="insertScheme" type="insert"}}
    {{> afQuickField name="name"}}
    {{> afQuickField name="description"}}

    {{> afQuickField name="aspects"}}

    {{> afQuickField name="comments"}}

        <div class="ui padded grid"> 
          <div class="row adjustment-row"> 
            <div class="three wide column">
              {{> afQuickField name="allowAdjustment" id="allowAdjustment" value=isAdjustmentAllowed}}
            </div>
            {{#if isAdjustmentAllowed}}
              <div class="two wide column"> 
                <div class="ui labeled input">
                  <div class="ui label">
                    Max Positive
                  </div>
                {{> afFieldInput name="adjustmentValuePositive"}}
                </div>
              </div>
              <div class="two wide column"></div>
              <div class="two wide column">
                <div class="ui labeled input">
                  <div class="ui label">
                    Max Negative
                  </div>
                {{> afFieldInput name="adjustmentValueNegative"}}
                </div>
              </div>
            {{/if}}
            <div class="three wide right floated column marking-total">
              <p class="ui medium header">Total Marks: 70</p>
            </div>
          </div>
        </div>
        <div class="two large ui buttons">
         <button type="submit" class="positive ui button">Publish</button>
           <div class="or"></div>
         <button type="reset" class="negative ui button">Reset</button>
        </div>
  {{/autoForm}}
</template>