<template name="insertScheme">
  <form>
    <div class="ui large header">New Marking Scheme</div>
    <div class="ui form">
    <h3 class="ui horizontal divider header"><i class="info icon"></i>About</h3>
      <div class="ui stackable four column grid">
        <div class="six wide column">       
          <div class="required field">
            <label for="scheme-name">Scheme Name</label>
            <input type="text" name="scheme-name" required>
          </div>
        </div>
        <div class="ten wide column">
          <div class="field">
            <label for="scheme-desc">Description</label>
            <input type="text" name="scheme-desc">
          </div>
        </div>
      </div>
      <h3 class="ui horizontal divider header"><i class="selected radio icon"></i>Rubric</h3>
      {{#each rubricObject}}
        <table class="ui {{pickColour(@index)}} celled table" data-uuid="{{this.uuid}}">
          <thead>
            <tr>
              <th colspan="2">
                <div class="field">
                  <label for="rubric-aspect">Aspect</label>
                  <input type="text" name="rubric-aspect" placeholder="Attribute to consider" value="{{this.aspect}}">
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
          {{#each this.rows}}
            <tr data-uuid="{{this.uuid}}">
              <td class="twelve wide">      
                <div class="field rubric-array-item">   
                  <label for="criteria">Criteria</label>
                  <div class="ui mini red corner label rubric-array-remove">
                    <i class="minus icon"></i>
                  </div> 
                  <input type="text" name="criteria" placeholder="Level of implementation" value="{{this.criteria}}">
                </div>
              </td>
              <td class="left aligned four wide">
                <div class="field">
                  <div class="field">
                    <label for="criteria-value">Value</label>
                    <input type="number" name="criteria-value" placeholder="0" value="{{this.mark}}">
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
            <tr>
              <td colspan="2">   
                <div class="ui two column grid">
                  <div class="row">
                    <div class="column">
                      <button class="ui primary button add-criterion"><i class="plus icon"></i>Add Criterion</button>
                    </div>
                    <div class="column">
                      <button class="ui secondary right floated button remove-aspect"><i class="minus icon"></i>Remove Aspect</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        {{/each}}

      <button class="ui primary centered button add-aspect"><i class="plus icon"></i>Add Aspect</button>
      <h3 class="ui horizontal divider header"><i class="list layout icon"></i>Comments</h3>
      {{#autoForm schema="Schemas.Scheme" id="insertScheme" type="insert"}}
        {{> afQuickField name="comments"}}
      {{/autoForm}}
      <h3 class="ui horizontal divider header"><i class="unlock alternate icon"></i>Adjustment</h3>
      <div class="ui stackable padded grid"> 
        <div class="row adjustment-row"> 
          <div class="four wide column"> 
            <div class="ui labeled input">
              <div class="ui label">
                Max Positive
              </div>
              <input type="number" placeholder="0" min="0">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui labeled input">
              <div class="ui label">
                Max Negative
              </div>
            <input type="number" placeholder="0" max="0">
            </div>
          </div>
          <div class="four wide right floated column marking-total">
            <p class="ui medium header">Total Marks: 70</p>
          </div>
        </div>
        <div class="row">
          <div class="centered column">
            <div class="two large ui buttons">
              <button type="reset" class="ui button">Clear</button>
              <div class="or"></div>
              <button type="submit" class="positive ui button">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>