<template name="insertScheme">
  <div class="ui large header">New Marking Scheme</div>
    {{#autoForm schema="Schemas.Scheme" id="insertScheme" type="insert"}}
    {{> afQuickField name="name"}}
    {{> afQuickField name="description"}}

    {{> rubricAspects}}

    {{> afQuickField name="comments"}}

        <div class="ui stackable padded grid"> 
          <div class="row adjustment-row"> 
            <div class="four wide column">
              {{> afQuickField name="allowAdjustment" id="allowAdjustment" value=isAdjustmentAllowed}}
            </div>
            {{#if isAdjustmentAllowed}}
              <div class="four wide column"> 
                <div class="ui labeled input">
                  <div class="ui label">
                    Max Positive
                  </div>
                {{> afFieldInput name="adjustmentValuePositive"}}
                </div>
              </div>

              <div class="four wide column">
                <div class="ui labeled input">
                  <div class="ui label">
                    Max Negative
                  </div>
                {{> afFieldInput name="adjustmentValueNegative"}}
                </div>
              </div>
            {{/if}}
            <div class="four wide right floated column marking-total">
              <p class="ui medium header">Total Marks: 70</p>
            </div>
          </div>
          <div class="row">
            <div class="centered column">
              <div class="two large ui buttons">
                <button type="reset" class="ui button">Clear</button>
                <div class="or"></div>
                <button type="submit" class="positive ui button">Submit</button>
              </div>
            </div>
          </div>
        </div>
  {{/autoForm}}
</template>