<template name="markScheme">
  {{#if connectionReady}}
    {{#if scheme}}
    {{#with scheme}}
  <div class="ui one column padded grid">
    <div class="column">
      <div class="ui breadcrumb">
        <a class="section" href="/dashboard">Marking Schemes</a>
        <i class="right angle icon divider"></i>
        <div class="active section">{{name}}</div>
      </div>
      <h3 class="ui horizontal divider header"><i class="info icon"></i>About</h3>
      <form class="ui forms" id="marking-form">
        {{#if description}}
          <div class="ui stackable grid form">
            <div class="row">
              <div class="five wide column">
                <div class="required field">
                  <label for="marker-name">Marker Name</label>
                  {{#if markerName}}
                    <input type="text" name="marker-name" required pattern=".*\S+.*" placeholder="A. Marker" value="{{markerName}}">
                  {{else}}
                    <input type="text" name="marker-name" required pattern=".*\S+.*" placeholder="A. Marker">
                  {{/if}}
                </div>
                <div class="required field">
                  <label for="student-no">Student Number</label>
                  <input type="text" name="student-no" required pattern=".*\S+.*" placeholder="Student or Participant, e.g. up123456">
                </div>
              </div>
              <div class="eleven wide column">
              <h5>Description</h5>
              <p>{{description}}</p>
              </div>
            </div>
          </div>
        {{else}}
          <div class="ui stackable two column grid form">
            <div class="row">
              <div class="column">
                <div class="required field">
                <label for="marker-name">Marker Name</label>
                  {{#if markerName}}
                    <input type="text" name="marker-name" required pattern=".*\S+.*" placeholder="A. Marker" value="{{markerName}}">
                  {{else}}
                    <input type="text" name="marker-name" required pattern=".*\S+.*" placeholder="A. Marker">
                  {{/if}}
                </div>
              </div>
              <div class="column">
                <div class="required field">
                  <label for="student-no">Student/Participant ID</label>
                  <input type="text" name="student-no" placeholder="up123456" required pattern=".*\S+.*">
                </div>
              </div>
            </div>
          </div>
        {{/if}}
        <h3 class="ui horizontal divider header"><i class="selected radio icon"></i>Scales</h3>
          {{#each asp in aspects}}
            <table class="ui compact selectable celled table aspect-table">
              <thead>
                <tr class="header-row">
                  <th colspan="2">
                    {{asp.aspect}}
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#let aspectIndex=@index}}
                {{#each asp.rows}}
                  <tr>
                    <td class="right aligned collapsing">
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" tabindex="0" class="hidden" name="checks-{{aspectIndex}}" required>
                          <label>{{this.criteriaValue}} marks</label>
                        </div>
                      </div>
                    </td>
                    <td class="criteria">{{this.criteria}}</td>
                  </tr>
               {{/each}}
               {{/let}}
              </tbody>
            </table>
          {{/each}}
          {{#if comments}}
            <h3 class="ui horizontal divider header"><i class="list layout icon"></i>Pre-set Comments</h3>
            <div class="ui form preset-comments">
              {{#each comments}}
                <div class="inline field">
                  <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>{{this.comment}}</label>
                  </div>
                </div>
              {{/each}}
            </div>
          {{/if}}
          <h3 class="ui horizontal divider header"><i class="comment outline icon"></i>Other Comments</h3>
          <div class="ui form">
            <div class="field">
              <label>Free-flow text</label>
              <textarea class="free-comment-field"></textarea>
            </div>
          </div>
          {{#if adjustable scheme}}
          <h3 class="ui horizontal divider header"><i class="adjust icon"></i>Adjustment</h3>
          <div class="ui one column centered padded grid">
            <div class="one column centered row">
              <div class="center aligned column">
                <div class="ui labeled large action input">
                  <div class="ui label">
                    Adjust by {{adjustmentValueNegative}} to {{adjustmentValuePositive}}:
                  </div>
                  <input type="number" name="adjustment" value="{{adjustmentValue}}" placeholder="0" min="{{adjustmentValueNegative}}" max="{{adjustmentValuePositive}}">
                  <button class="ui icon button adj-minus-button">
                    <i class="minus icon"></i>
                  </button>
                  <button class="ui icon button adj-plus-button">
                    <i class="plus icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
          <h3 class="ui horizontal divider header"><i class="star half empty icon"></i>Result</h3>
          <div class="ui two column centered stackable grid">
            <div class="three column centered row">
              <div class="center aligned column">
                <div class="ui statistic">
                  <div class="value">
                    {{countMarks}} / {{maxMarks}}
                  </div>
                  <div class="label">
                    Total Marks
                  </div>
                </div>
              </div>
              <div class="center aligned column">
                <div class="ui statistic">
                  <div class="value">
                    {{percentage countMarks maxMarks}}%
                  </div>
                  <div class="label">
                    Percent
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
          <div class="row">
            <div class="column">
              <div class="ui fluid buttons">
                <button class="ui positive large button submit-marks">Submit Marking Report</button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
  {{/with}}
  {{else}}
    {{> notFound}}
  {{/if}}
{{else}}
  {{> loading}}
{{/if}}
</template>
