<template name="rubricBuilder">  
  {{#each rubric in rubricObject}}
    <table class="ui {{pickColour(@index)}} table rubric-table" data-uuid="{{rubric.uuid}}">
      <thead>
        <tr>
          <th colspan="3">
            <div class="required field">
              <label for="rubric-aspect">Aspect</label>
              <input type="text" name="rubric-aspect" placeholder="Attribute to consider" value="{{rubric.aspect}}" required>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="sortable">
      {{#each rubric.rows}}
        <tr data-uuid="{{this.uuid}}" class="{{isLast(@index)}}">
          <td class="collapsing"><i class="chevron right icon"></i></td>
          <td class="twelve wide">      
            <div class="field rubric-array-item"> 
              <div class="ui mini red corner label rubric-array-remove">
                <i class="minus icon"></i>
              </div>   
              <input type="text" name="criteria" placeholder="Criteria" value="{{this.criteria}}">
            </div>
          </td>
          <td class="left aligned four wide">
            <div class="field rubric-array-item">
              <input type="number" name="criteria-value" placeholder="Mark" value="{{this.criteriaValue}}">
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <div class="ui two column stackable grid" data-uuid="{{rubric.uuid}}">
      <div class="row">
        <div class="column">
          <button class="ui primary button add-criterion"><i class="plus icon"></i>Add Criterion</button>
          <button class="ui button duplicate-aspect"><i class="retweet icon"></i>Duplicate Aspect</button>
        </div>
        <div class="column">
          <button class="ui negative right floated button remove-aspect"><i class="minus icon"></i>Remove Aspect</button>
        </div>
      </div>
    </div>
  {{/each}}
  <div class="ui two column stackable grid">
    <div class="row">
      <div class="column">
        <button class="ui primary button add-aspect"><i class="plus icon"></i>Add Aspect</button>
      </div>
      <div class="column">
        <button class="ui {{#unless canUndo}} disabled {{/unless}} button right floated undo-rubric-action"><i class="undo icon"></i>Undo</button>
      </div>
    </div>
  </div>
</template>
