<template name="viewSchemes">
  <h3 class="ui horizontal divider header"><i class="selected radio icon"></i>Available Schemes</h3>
  {{#if connectionReady}}
  <div class="ui one column padded grid">
    <div class="column">
      {{#if markingSchemes.count}}
        <div class="ui four doubling stackable cards">
          {{#each markingSchemes}}
            {{> viewSchemesListItem}}
          {{/each}}
        </div>
      {{else}}
        <p class="ui centered">No schemes found! Create a new one and it will appear here to manage and share.</p>
      {{/if}}
    </div>
  </div>
  <div class="ui small basic delete-check modal">
    <div class="ui icon header">
      <i class="warning circle icon"></i>
      Delete Scheme and Marks
    </div>
    <div class="content">
      <p>Are you sure you want to delete this marking scheme? This will permanently remove all its marks, and cannot be undone.</p>
    </div>
    <div class="actions">
      <div class="ui green basic cancel inverted button">
        No, keep it
      </div>
      <div class="ui red ok inverted button">
        Delete
      </div>
    </div>
  </div>
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="viewSchemesListItem">
  <a class="ui card" href="/marks/{{_id}}">
    <div class="content">
      <i class="right floated trash outline icon card-delete-button"></i>
      <div class="header">
        {{name}}
      </div>
      <div class="meta">
        {{showUnitYear}}
      </div>
      <div class="description">
        <div class="two column grid">
          {{#if description}}
            <div class="column description-block">
              {{trimmedDescription}}
            </div>
          {{else}}
            <div class="ui center aligned column">
              <div class="ui grey statistic">
                <div class="value">
                  {{aspectsAndComments}}
                </div>
                <div class="label">
                  Aspects &amp; Comments
                </div>
              </div>
            </div>
          {{/if}}
          <div class="center aligned column">
            <div class="ui grey statistic">
              <div class="value">
                {{markedReports}}
              </div>
              <div class="label">
                Marked
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <div class="ui three column center aligned grid">
        <div class="column">
          <a href="/mark/{{_id}}"><button class="ui basic small button mark-using-scheme" data-content="Start marking with this scheme">Mark</button></a>
        </div>
        <div class="center floated column">
          <a href="/mark/{{_id}}"><button class="ui basic small button copy-scheme-url" data-content="Copy the URL to this scheme" data-clipboard-text="{{createURL _id}}">Link</button></a>
        </div>
        <div class="left floated column">
          <a href="/editScheme/{{_id}}"><button class="ui basic small button edit-scheme" data-content="Edit this scheme">Edit</button></a>
        </div>
      </div>
    </div>
  </a>
</template>
