<template name="viewSchemes">
  <div class="ui one column padded grid">
    <div class="column">
      {{#if markingSchemes.count}}
        <h3 class="ui horizontal divider header"><i class="selected radio icon"></i>Available Schemes</h3>
        <div class="ui four doubling link cards">
          {{#each markingSchemes}}
            {{> viewSchemesListItem}}
          {{/each}}       
        </div>
      {{else}}
        <h3>No schemes found!</h3>
      {{/if}}
    </div>
  </div>
</template>

<template name="viewSchemesListItem">
  <a class="card" href="{{pathFor route='markScheme'}}">
    <div class="content">
      <div class="header">
        {{name}}
        {{#if recent}}
          <i class="right floated star icon"></i>
        {{/if}}
      </div>
      <div class="meta">
        {{friendlyDate}} - {{maxMarks}} marks
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button edit-scheme">Edit</div>
        <div class="ui basic red button delete-scheme">Delete</div>
      </div>
    </div>
  </a>
</template>
